.greeting {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 130px;

    &__template {
      font-size: 72px;
      font-family: $secondary-font-stack;
      color: $white-color;
      line-height: 122px;
      margin: 0;
      padding: 0;
    }
    
    &__message {
      width: 820px;
      font-size: 150px;
      line-height: 150px;
      font-family: $main-font-stack;
      color: $white-color;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    
    &__btn {
      font-size: 14px;
      font-family: $main-font-stack;
      color: $white-color;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 38px;
      width: 158px;
      border-style: solid;
      border-width: 3px;
      border-color: $white-color;
      background-color: rgba(0, 0, 0, 0);
      margin-top: 100px;
      padding: 0;
    }
  }