$main-font-stack: "Montserrat", sans-serif;
$secondary-font-stack: "Kaushan Script", cursive;
$other-font-stack: "Roboto", sans-serif;
$main-color: #95e1d3;
$primary-color: #f38181;
$white-color: rgb(255, 255, 255);
$secondary-color: rgb(252, 227, 138);
$title-color: #333333;
$text-color: #999999;